{% extends "base.html" %}

{% block title %}Add Movie{% endblock %}
{% block page_title %}Add Movie{% endblock %}

{% block content %}

<div class="form-box">
    <form method="POST" enctype="multipart/form-data">

        <label>Movie Title</label>
        <input type="text" name="title" placeholder="Enter movie title" required>

        <label>Genre</label>
        <input type="text" name="genre" placeholder="Action, Comedy, Horror..." required>

        <label>Year</label>
        <input type="number" name="movie_year" placeholder="2026" required>

        <label>Description</label>
        <textarea name="description" placeholder="Write movie description"></textarea>

        <label>Poster Image</label>
        <input type="file" name="image">

        <button type="submit">Add Movie</button>

    </form>
</div>

{% endblock %}