<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}ETEC Cinema{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="sidebar">
        <h2>🎬 ETEC</h2>

        <a href="{{ url_for('index') }}">🏠 Dashboard</a>
        <a href="{{ url_for('cart') }}">🛒 Cart</a>

        {% if session.get('role') == 'admin' %}
        <a href="{{ url_for('add_movie') }}">➕ Add Movie</a>
        {% endif %}

        <a href="{{ url_for('logout') }}" class="logout-btn">🚪 Logout</a>
    </div>

    <div class="main">

        <div class="topbar">
            <div>
                <h1>{% block page_title %}{% endblock %}</h1>
                <p>Welcome, {{ session.get('user') }}</p>
            </div>

            <span class="role-badge">{{ session.get('role') }}</span>
        </div>

        {% block content %}{% endblock %}

    </div>

</body>

</html>