{% extends "base.html" %}

{% block title %}Cart{% endblock %}
{% block page_title %}Shopping Cart{% endblock %}

{% block content %}

<div class="cart-box">

    <table>
        <tr>
            <th>Poster</th>
            <th>Movie</th>
            <th>Genre</th>
            <th>Year</th>
            <th>Price</th>
            <th>Action</th>
        </tr>

        {% for movie in movies %}
        <tr>
            <td>
                {% if movie.image %}
                <img src="{{ url_for('static', filename='uploads/' + movie.image) }}" class="cart-img">
                {% else %}
                No Image
                {% endif %}
            </td>

            <td>{{ movie.title }}</td>
            <td>{{ movie.genre }}</td>
            <td>{{ movie.movie_year }}</td>
            <td>$5</td>

            <td>
                <a href="{{ url_for('remove_from_cart', id=movie.id) }}" class="delete-btn">Remove</a>
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="6">Your cart is empty.</td>
        </tr>
        {% endfor %}
    </table>

    <div class="cart-total">
        <h2>Total: ${{ total }}</h2>
        <a href="{{ url_for('checkout') }}" class="checkout-btn">Checkout</a>
    </div>

</div>

{% endblock %}