{% extends "base.html" %}

{% block title %}Edit Movie{% endblock %}
{% block page_title %}Edit Movie{% endblock %}

{% block content %}

<div class="form-box">
    <form method="POST" enctype="multipart/form-data">

        <label>Movie Title</label>
        <input type="text" name="title" value="{{ movie.title }}" required>

        <label>Genre</label>
        <input type="text" name="genre" value="{{ movie.genre }}" required>

        <label>Year</label>
        <input type="number" name="movie_year" value="{{ movie.movie_year }}" required>

        <label>Description</label>
        <textarea name="description">{{ movie.description }}</textarea>

        {% if movie.image %}
        <label>Current Image</label>
        <img src="{{ url_for('static', filename='uploads/' + movie.image) }}" class="preview-img">
        {% endif %}

        <label>Change Image</label>
        <input type="file" name="image">

        <button type="submit">Update Movie</button>

    </form>
</div>

{% endblock %}