{% extends 'base.html' %}

{% block content %}


<div class="p-5 mb-5 rounded-4 text-white shadow"
    style="height:fit-content;background: linear-gradient(135deg, #0d0d0d, #1f1f1f, #2c2c2c); border: 1px solid rgba(255,255,255,0.08);">

    <div class="row align-items-center">
        <div class="col-md-8">
            <h1 class="display-5 fw-bold text-warning">
                Welcome to ETEC CINEMA
            </h1>

            <p class="lead text-light mt-3">
                Discover the latest movies, book your favorite tickets,
                and enjoy a premium cinema experience.
            </p>

            {% if session.get('role') != 'admin' %}
            <a href="#movies" class="btn btn-warning btn-lg mt-3">
                Browse Movies
            </a>
            {% else %}
            <a href="{{ url_for('add_movie') }}" class="btn btn-warning btn-lg mt-3">
                Add New Movie
            </a>
            {% endif %}
        </div>

        <div class="col-md-4 text-center d-none d-md-block">
            <div style="font-size: 7rem;">🎥</div>
        </div>
    </div>
</div>


<h2 id="movies" class="mb-4">Available Movies</h2>

<div class="row">
    {% for movie in movies %}
    <div class="col-md-4">
        <div class="card bg-secondary text-light mb-4 shadow">

            
            {% if movie.image %}
            <img src="{{ url_for('static', filename='uploads/' + movie.image) }}" class="card-img-top"
                style="height: 350px; object-fit: cover;">
            {% else %}
            <div class="bg-dark text-center py-5">
                No Poster
            </div>
            {% endif %}

            <div class="card-body">

                
                <h5 class="card-title">{{ movie.title }}</h5>

                
                <p class="card-text text-white-50">
                    {{ movie.genre }} | {{ movie.movie_year }}
                </p>

                <div class="d-flex flex-wrap gap-2">

                    
                    <a href="{{ url_for('movie_detail', id=movie.id) }}" class="btn btn-light btn-sm">
                        View
                    </a>

                    
                    {% if session.get('role') != 'admin' %}
                    <a href="{{ url_for('add_to_cart', id=movie.id) }}" class="btn btn-success btn-sm">
                        Book
                    </a>
                    {% endif %}

                    
                    {% if session.get('role') == 'admin' %}
                    <a href="{{ url_for('edit_movie', id=movie.id) }}" class="btn btn-warning btn-sm">
                        Edit
                    </a>

                    <a href="{{ url_for('delete_movie', id=movie.id) }}" class="btn btn-danger btn-sm"
                        onclick="return confirm('Are you sure?')">
                        Delete
                    </a>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}