{% extends "base.html" %}

{% block title %}Movie Detail{% endblock %}
{% block page_title %}Movie Detail{% endblock %}

{% block content %}

<div class="detail-card">

    {% if movie.image %}
    <img src="{{ url_for('static', filename='uploads/' + movie.image) }}" alt="{{ movie.title }}">
    {% else %}
    <div class="no-image">No Image</div>
    {% endif %}

    <div class="detail-info">
        <h2>{{ movie.title }}</h2>

        <p><strong>Genre:</strong> {{ movie.genre }}</p>
        <p><strong>Year:</strong> {{ movie.movie_year }}</p>
        <p>{{ movie.description }}</p>
        <div class="rating-box">

            <h3>Rate This Movie</h3>

            <div class="star-buttons">

                <a href="{{ url_for('rate_movie', id=movie.id, star=1) }}">⭐</a>
                <a href="{{ url_for('rate_movie', id=movie.id, star=2) }}">⭐⭐</a>
                <a href="{{ url_for('rate_movie', id=movie.id, star=3) }}">⭐⭐⭐</a>
                <a href="{{ url_for('rate_movie', id=movie.id, star=4) }}">⭐⭐⭐⭐</a>
                <a href="{{ url_for('rate_movie', id=movie.id, star=5) }}">⭐⭐⭐⭐⭐</a>

            </div>

            <p class="current-rating">
                Current Rating:
                {{ movie.rating }} ⭐
            </p>

        </div>

        <a href="{{ url_for('add_to_cart', id=movie.id) }}" class="cart-btn" style="margin-top:15px; display:inline-block;">Add To Cart</a>

        
    </div>

</div>

{% endblock %}