{% extends "base.html" %}

{% block title %}Receipt{% endblock %}
{% block page_title %}Receipt{% endblock %}

{% block content %}

<div class="receipt-box">

    <h2>🎟 Payment Receipt</h2>

    <p><strong>Customer:</strong> {{ receipt.user }}</p>

    <hr>

    {% for movie in receipt.movies %}
    <div class="receipt-item">
        <span>{{ movie.title }}</span>
        <strong>$5</strong>
    </div>
    {% endfor %}

    <hr>

    <div class="receipt-total">
        <span>Total</span>
        <strong>${{ receipt.total }}</strong>
    </div>

    <a href="{{ url_for('index') }}" class="checkout-btn">Back Dashboard</a>

</div>

{% endblock %}